body{
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: #eae1cb;
    overflow-x: hidden;
}
header{
    grid-area: header;
    background-color: #77a8a8;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0px;
    align-items: end;
            background-color: #77a8a8;
}
@media (max-width: 400px) {
    .navbar-expand {
        font-size: 16px;
    }
}

@media (min-width: 401px) {
    .navbar-expand {
        font-size: 16px;
    }
}
@media (min-width: 401px) {
    .logo {
        width: auto;
        height: auto;
    }
    .notremove{
        font-size: 0px;
        width: 0px;
    }
}
@media (min-width: 366px) {
    .notremove{
        font-size: 0px;
        width: 0px;
    }
}
@media (max-width: 365px) {
    .remove{
        font-size: 0px;
        width: 0px;
    }
}
@media (max-width: 330px) {
    .remove{
        font-size: 0px;
        width: 0px;
    }
    .notremove{
        font-size: 0px;
        width: 0px;
    }
    .navbar-expand{
        gap: 10px;
    }
}
@media (max-width: 500px) {
.colonne{
    padding: 0.5rem;
}
.maNav{
    height: 70px;
}
}
@media (min-width: 500px) {
    .ul{
          display: flex;
          gap: 25px;
    }
    .no-gap{
       margin-left: -25px;
    }
    .colonne{
        padding: 0.5rem;
    }
    .maNav{
        height: 60px;
    }
    .logo{
        height: 50px;
    }
}
@media (max-width: 355px) {
.ul{
    margin-right: 10px;
}
}
.rx{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    justify-content: center;
}
.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}