body {
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    overflow-x: hidden;
    background-color: #eae1cb;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

@media (max-width: 400px) {
    .navbar-expand {
        font-size: 16px;
    }
}

@media (min-width: 401px) {
    .navbar-expand {
        font-size: 16px;
    }
}

header {
    grid-area: header;
    background-color: #77a8a8;
}

main {
    grid-area: main;
    background-color: #eae1cb;
}

.piscine {
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

.eo {
    height: 450px;
    object-fit: cover;
}

footer {
    grid-area: footer;
    background-color: #77a8a8;
}

.logo {
    width: auto;
    object-fit: contain;
    height: auto;
}

@media (min-width: 366px) {
    .notremove {
        font-size: 0px;
        width: 0px;
    }
}

@media (min-width: 401px) {
    .logo {
        width: auto;
        height: auto;
    }

    .notremove {
        font-size: 0px;
        width: 0px;
    }
}

@media (max-width: 365px) {
    .remove {
        font-size: 0px;
        width: 0px;
    }
}

@media (max-width: 350px) {
    .remove {
        font-size: 0px;
        width: 0px;
    }

    .notremove {
        font-size: 0px;
        width: 0px;
    }

    .navbar-expand {
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .colonne {
        padding: 0.5rem;
    }

    .maNav {
        height: 70px;
    }
}

@media (min-width: 500px) {
    .ul {
        display: flex;
        gap: 25px;
    }
.no-gap{
       margin-left: -25px;
    }
    .colonne {
        padding: 0.5rem;
    }

    .maNav {
        height: 60px;
    }

    .logo {
        height: 50px;
    }
}

@media (max-width: 355px) {
    .ul {
        margin-right: 10px;
    }
}

@media (min-width: 500px) {
    .piscine {
        height: 70vh;
        object-fit: cover;
        width: 100vh;
    }

    .pisc {
        text-align: center;
    }

    .eo {
        object-fit: contain;
        height: 75vh;
        width: 100vh;
    }

    .chambres{
        text-align: center;
        font-size: 20px;
    }
}
@media (min-width: 500px) and (max-width: 870px){
.eo{
    object-fit: cover;
}
}

@media (max-height: 450px) {
    .eo{
        height: 150vh;
    }
}
.rx {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    justify-content: center;
}